<div>
  <button (click)=login() *ngIf="!this.authService.userDto"> Login </button>
  <button (click)=logout() *ngIf="this.authService.userDto"> Logout </button>
</div>
<div *ngIf=this.authService.isLoggedIn>
  {{this.authService.isLoggedIn ? this.authService.userDto.email : ""}}
  <div>
    <button (click)=join() *ngIf="!this.isInQueue && !this.matchId"> Join </button>
    <button (click)=quit() *ngIf="this.isInQueue || this.matchId"> Quit </button>
  </div>
  <div>
    queue: <span *ngFor="let item of this.queue | async">{{item.payload.val()}}, </span>
  </div>
  <div>
    matches: <div *ngFor="let match of this.matches | async">
      [o: {{match ? match.payload.val().o : match}}, x: {{match ? match.payload.val().x : match}}], 
    </div>
  </div>
  <div *ngIf="this.matchId">
    <div>
    {{this.myTurn? 'my turn': 'opponent\'s turn'}}
    </div>
    <div class='gameBoard'>
      <div class='boardRow'>
        <div class='boardCell' (click)=move(0)>{{this.tictactoe ? this.tictactoe[0] : '-'}}</div>
        <div class='boardCell' (click)=move(1)>{{this.tictactoe ? this.tictactoe[1] : '-'}}</div>
        <div class='boardCell' (click)=move(2)>{{this.tictactoe ? this.tictactoe[2] : '-'}}</div>
      </div>
      <div class='boardRow'>
        <div class='boardCell' (click)=move(3)>{{this.tictactoe ? this.tictactoe[3] : '-'}}</div>
        <div class='boardCell' (click)=move(4)>{{this.tictactoe ? this.tictactoe[4] : '-'}}</div>
        <div class='boardCell' (click)=move(5)>{{this.tictactoe ? this.tictactoe[5] : '-'}}</div>
      </div>
      <div class='boardRow'>
        <div class='boardCell' (click)=move(6)>{{this.tictactoe ? this.tictactoe[6] : '-'}}</div>
        <div class='boardCell' (click)=move(7)>{{this.tictactoe ? this.tictactoe[7] : '-'}}</div>
        <div class='boardCell' (click)=move(8)>{{this.tictactoe ? this.tictactoe[8] : '-'}}</div>
      </div>
    </div>
    <div *ngIf="endGameMsg!==''">
      <h1> {{endGameMsg}} </h1>
    </div>
  </div>
</div>
